/* Variables */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --light-bg-text-color: #000000;
  --social-icons-text-color: #afb1b8;
  --social-icons-bg-color: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
}

/* Utility Classes */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 1px solid teal; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Specific CSS Rulesets */

/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--light-bg-text-color);
}

.logo--light {
  color: var(--dark-bg-text-color);
}

/* nav */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 95px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  color: var(--title-text-color);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link--active {
  position: relative;
}

.nav-link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.contacts-link .icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .icon,
.contacts-link:focus .icon {
  fill: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
}
/* hero section */

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero.jpg");
  background-color: var(--dark-bg-color);
}

.hero-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.hero-btn {
  padding: 10px 32px;
}

/* benefits */

.benefits-list {
  display: flex;
  margin-left: -30px;
}

.benefits-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* services */

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  position: relative;
}

.img-label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background: rgba(47, 48, 58, 0.8);
}
/* team section */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--main-bg-color);
}

.teammate-info {
  padding: 30px 0;
}

.teammate-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.teammate-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social-icons {
  display: inline-flex;
}

.social-icons-item {
  width: 44px;
  height: 44px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(turn) scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--social-icons-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
  transform: rotate(0.999turn) scale(1.1);
}

.social-icons-link:hover .social-icon,
.social-icons-link:focus .social-icon {
  fill: var(--dark-bg-text-color);
}

/* clients */

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 90px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-icons-text-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: var(--social-icons-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.company-address,
.footer-socials {
  flex-basis: calc((50% - 45px) / 2);
  /* outline: 1px solid red; */
}

.subscription {
  flex-basis: calc(50% - 15px);
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address-item {
  margin-bottom: 9px;
}

.location,
.email,
.tel {
  font-style: normal;
}

.location {
  color: var(--dark-bg-text-color);
}

.email,
.tel {
  color: var(--address-text-color);
}

.location,
.email,
.tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location:hover,
.location:focus,
.email:hover,
.tel:hover,
.email:focus,
.tel:focus {
  color: var(--accent-color);
}

.footer-social-icons-link {
  background-color: var(--social-icons-bg-color);
}

.footer-social-icon {
  fill: var(--dark-bg-text-color);
}

.subscription-form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 5px 15px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
  background-color: var(--dark-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.email-btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  min-width: 200px;
}

.email-btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--dark-bg-text-color);
}

.email-btn:hover .email-btn-icon,
.email-btn:focus .email-btn-icon {
  animation-name: planeMove;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input:focus {
  border-color: var(--main-bg-color);
  color: var(--dark-bg-text-color);
}

.email-input:focus + .email-label,
.email-input:not(:placeholder-shown) + .email-label {
  color: var(--accent-color);
}

/* PORTFOLIO */

/* Filters */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn--active {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

/* gallery */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.gallery-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-bottom: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}

.gallery-item-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-link:hover,
.gallery-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-img-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--dark-bg-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(105%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-link:hover .gallery-img-overlay,
.gallery-item-link:focus .gallery-img-overlay {
  transform: translateY(0%);
}

.gallery-item-meta {
  padding: 20px 24px;
}

.gallery-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-item-type {
  font-size: 16px;
  line-height: 1.87;
}

/*modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 40px;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--dark-bg-text-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--main-bg-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

/* form */
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 42px;
}

.form-icon {
  position: absolute;
  top: 32px;
  left: 15px;
  transform: rotate(turn) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.comment:focus {
  outline-color: var(--accent-color);
}

.form-input:focus + .form-icon,
.form-input:not(:placeholder-shown) + .form-icon {
  fill: var(--accent-color);
  transform: rotate(0.999turn) scale(1.2);
}

.comment {
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.policy-checkbox {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.custom-checkbox {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid #000;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:focus + .custom-checkbox {
  outline: 1px solid black;
}

.policy-checkbox:checked + .custom-checkbox {
  border-color: var(--accent-color);
  fill: #ffffff;
  background-color: var(--accent-color);
}

.policy-link {
  color: var(--accent-color);
}

.form-button {
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}
/* animations */

@keyframes planeMove {
  0% {
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(-10px, 10px) scale(1.1);
  }
  50% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.1;
    transform: translate(25px, -15px) scale(0.2);
  }
  85% {
    opacity: 0;
  }
}
